/* @font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
} */
.main {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}
.main input {
  font-size: 1.6rem;
  line-height: 2.4;
  background-color: white;
  color: black;
}
.main {
  padding: 4rem 4rem 0;
}
.layout {
  display: grid;
  grid-template-rows: auto auto;
  margin: auto;
  width: 70vw;
  text-align: center;
  gap: 4rem; 
}

.main h1,
.main h3 {
  font-size: 3.2rem;
  line-height: 2;
  font-weight: bold;
  color: white;
  margin: 0 0 4rem;
}
.main h1 {
  width: 100%;
  margin-inline: auto;
  text-align: center;
}

.layout_left,
.layout_right {
  width: 70vw;
  margin: 0;
}

.layout form {
  display: flex;
  flex-direction: column;
}

.warning {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.loading {
  font-size: 2rem;
}

.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #a31010;
  border-radius: 4px;
  margin-bottom: 24px;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #a31010;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: bold;
  margin-top: 40px;
}

@media screen and (min-width: 1200px) {
  .layout {
    grid-template-columns: 1fr 1fr;
    width: 100%; 
  }

  .layout_left,
  .layout_right {
    width: 100%;
  }

  .card {
    max-height: 40vw;
  }
}

/* Custom */
.card {
  max-width: 100%;
}

.card_caption {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.poem {
  width: 100%;
}
.poem p {
  font-size: 1.5rem;
  line-height: 1;
}

.footer {
  font-size: 2rem;
  line-height: 1.5;
  color: white;
  padding: 4rem;
  background-color: black;
  font-family: Helvetica, sans-serif;
  width: 100%;
  box-sizing: border-box;
}
